<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Configure the ASP.NET Core module -->
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
		</handlers>

		<!-- Enable stdout logging -->
		<aspNetCore processPath="dotnet"
					arguments=".\bin\Debug\net8.0\home-wiki-backend.WebApi.dll"
					stdoutLogEnabled="true"
					stdoutLogFile=".\logs\stdout"
					hostingModel="InProcess" />
	</system.webServer>
</configuration>
